@import 'variables';

.subscribe-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 300;
    border: none;
    background: $brand-secondary-color;
    border-radius: 0px;
    font-family: $global-font;
    letter-spacing: 0.1em;
}
.subscribe-btn:hover {
    background: $brand-global-color;
    color: $brand-primary-color;
}
.subscribe-btn .btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}
.subscribe-btn .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: $brand-secondary-color;
    border-color: $brand-secondary-color;
}
.subscribe-btn .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.remove-space {
    padding: 0px !important;
}
.input-area {
    border: none;
    padding: 30px 30px;
    border-radius: 0px;
}
.nwpaper-block {
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    background: $brand-global-color;
    padding-top: 12px !important;
    padding-bottom: 11px !important;
    padding-right: 10px !important;
}
.subscribe-form {
    margin-top: 40px;
}
.icon {
    font-size: 100px;
    color: $brand-icon-color;
}
.icon:hover {
    color: $brand-primary-color;
}
.icon.active {
    color: $brand-primary-color;
}
//-------------------------------------------------- Blog form ---------------------------//
.text-area {
    font-size: 14px;
    border-radius: 0px;
}
.check-form-label {
    font-size: 14px;
    color: $brand-paragraph;
}
//-------------------------------------------------- Contact Form -----------------------//
.contact-form {
    background-color: $brand-primary-color;
    height: 600px;
}
