// Typography
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Arizonia', cursive;
$global-font: 'EB Garamond', serif;
$font-size-base: 0.9rem;
$line-height-base: 26px;
$list-line-height: 35px;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$medium-grey: #e5e7f0;
$pale-grey: #7f7f7f;
$light-grey: #eaeaea;
$taffy : #faafca;

// Colors for various purposes
$brand-primary-color: #1e243e;
$brand-secondary-color: #dd135c;
$brand-global-color: #ffffff;
$brand-base: #ebf0f0;
$brand-secondary-base: #e43d73;
$brand-paragraph: #556172;
$brand-icon-color: #c3c8de;
$overlay-black: #1b1c1e80;
$modal-bg: #000000e0;
$border-color : #f2f2f2;
$dark-base: #1c2135;
$global-link: #7f7f7f;
$breadcrumb-bg: #000000c4;


//Spacing
$section-space: 60px 0;
